/* VARIABLES */

:root {
    --main-text-color: #9DC5BB;
    --main-bg-color: #254E70;
    --secondary-bg-color: #B9314F;
	--error-color: #F24236;
}

body {
    margin: 0;
	overflow: hidden;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: sans-serif;
}

/*
##########
# Resets #
##########
*/

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

/*
###########
# Heading #
###########
*/

h1 {
    padding: 1em;
    font-size: 1.8rem;
    text-align: center;
}

/*
##########
# Navbar #
##########
*/

nav {
    padding: 1.5em;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li{
    float: right;
    margin: 0 1em;
}

nav label:before{
	height:2px;
	width:20px;
	background:var(--main-text-color);
	display:inline-block;
	content:"";
	box-shadow:0px -5px 0px 0px  var(--main-text-color),
			   0px -10px 0px 0px var(--main-text-color);
	/* margin-right:10px; */
	transition:all .5s;
	position:relative;
	opacity:0.5;
}

nav label{
	display:none;
	background:var(--secondary-bg-color);
	color:var(--main-text-color);  
	cursor:pointer; 
}

input[type="checkbox"]{
	visibility:hidden;
	position:absolute;
}

@media only screen and (max-width: 900px) {
	nav,
	nav ul,
	nav li {
	  flex-direction: column;
	}

	#collapse:checked ~ ul{
		display:none;
		margin-top:0; 
	}

	nav li {
		padding: 1rem;
		/* display: none; */
	}

	nav label {
		display: block;
		align-self: flex-end;
		display: initial;
		position: absolute;
		cursor: pointer;
	}
  }

  /*
################
# Contact form #
################
*/

.contact-form {
    padding: 3rem;
}

.contact-form ul {
    max-width: 70ch;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.contact-form-item {
    min-width: 10rem;
    flex-grow: 1;
}

.full {
    flex-basis: 100%;
}

input, textarea {
    width: 100%;
    padding: 1em .5em;

    box-sizing: border-box;
    border-radius: 3px;

    background-color: var(--secondary-bg-color);
    color: var(--main-text-color);
    border: none;
    border-bottom: 2px solid var(--main-text-color);
}

input:invalid, textarea:invalid {
    box-shadow: none;
    border: none;
    border-bottom: 2px solid var(--error-color);
}

textarea {
    height: 6rem;
}
  
button {
    padding: 1em;
    min-width: 10rem;
    float: right;

    cursor: pointer;

    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border: 2px solid var(--main-text-color);
}